<!DOCTYPE html>
<html lang="en">
    <%- include('./Partials/head'); %>
<body>
   <div id="wrapper">
    <%- include('./Partials/header'); %>
    <%- include('./Partials/sidebar'); %>
     <main>  </main>
   </div>
   <%- include('./Partials/chat_bot'); %>
   <%-other %>
</body>
</html>