<!DOCTYPE html>
<html lang="en">
    <%- contentFor('head') %>
<body>
   <div id="wrapper">
    <%- include('./Partials/header'); %>
    <%- include('./Partials/sidebar'); %>
    <main><%- body %></main>
   </div>
   <%- include('./Partials/chat_bot'); %>
</body>
</html>